import(methods)
import(R6)
## Some exports are for testing convenience and may not need to be exported.

## Classes: R6 classes are exported as regular objects
export(indexRuleClass)
export(graphRuleClass)
export(modelContextClass)
export(modelDefClass)
export(modelDeclClass)
export(indexRuleClass_arbitrary)
export(varRangeClass)
export(varStoreClass)

## functions and other objects
export(applyGraphIndexRules)
export(evalIndexRange)
export(getSymbolicParentNodes)
export(getSymbolicParentNodesRecurse)
export(indexRule_arbitrary_setup)
export(indexRule_arbitrary_apply_single)
export(indexRule_arbitrary_apply_matrix)
export(indexRule_block_setup)
export(indexRule_block_apply_single)
export(indexRule_block_apply_matrix)
export(indexRule_block_apply_sequence)
export(indexRule_block_apply)
export(indexRange)
export(isBlank)
export(getRangeType)
export(indexRange_matrix)
export(indexRange_getCols)
export(indexRange2matrix)
export(indexRange_isBlank)
export(indexRange_isSequence)
export(indexRange_isMatrix)
export(indexRange_isScalar)
export(indexRange2expr)

export(makeGraphIndexRules)
export(makeSeparableIndexSets)
export(modelSingleContext)

export(numIndices)

export(varRange2char)
export(varRange2expr)
export(varRange_getSingleIndexRange)
export(varRange_getIndexRangeMatrix)

export(`[.varStoreClass`)
export(`[<-.varStoreClass`)
