import(methods)
import(R6)
import(nCompiler)
## Some exports are for testing convenience and may not need to be exported.

## Classes: R6 classes are exported as regular objects
export(indexRangeClass)
export(indexRangeEmptyClass)
export(indexRangeScalarClass)
export(indexRangeSequenceClass)
export(indexRangeMatrixClass)
export(indexRangeMatrixListClass)
export(indexRuleClass)
export(indexRuleConstantClass)
export(indexRuleAllClass)
export(indexRuleBlockClass)
export(indexRuleArbitraryClass)
export(indexConstraintClass)
export(indexConstraintScalarClass)
export(indexConstraintSequenceClass)
export(indexConstraintMatrix1dClass)
export(indexConstraintMatrixClass)
export(graphRuleClass)
export(modelContextClass)
export(singleContextClass)
export(modelClass)
export(modelDefClass)
export(modelDeclClass)
export(varRangeClass)
export(varRulesClass)
export(varStoreClass)
export(dataRuleClass)
export(nodeRuleClass)
export(nodeRangeClass)
export(declRuleClass)
export(rhsRuleClass)
export(calcRuleClass)
export(calcRangeClass)
export(originalIndexingRuleClass)

## functions and other objects
export(makeCalcRules)
export(makeRHSonlyRules)
export(setSortIDs)
export(setEndRules)
export(setTopRules)
export(getDependencies)
export(getParents)
export(getNodes)
export(applyGraphRule)
export(getSymbolicParentNodes)
export(getSymbolicParentNodesRecurse)
export(newIndexRange)
export(newDataRules)


export(makeIndexRules)
export(makeSeparableIndexSets)

export(exclude)
export(fracture)

export(`[.varStoreClass`)
export(`[<-.varStoreClass`)

export(seqNoDecrease)

export(messageIfVerbose)

export(calc_dmnormAltParams)
export(calc_dwishAltParams)

export(nimbleCode)
export(nimbleModel)
export(makeInstrList)

export(setNimbleModelOption)
export(getNimbleModelOption)
